@model List<Wedding>
@{int UUID = (int)Context.Session.GetInt32("UserID");}
@await Html.PartialAsync("_navbar")
<table>
    <thead>
        <tr>
            <td>WeddingOf</td>
            <td>Date</td>
            <td>Guest Count</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach(Wedding wedd in Model){
            bool isGoing = wedd.Guests.Any(rsvp => rsvp.UserID == UUID);
            <tr>
                <td><a asp-action="ViewWedding" asp-controller="Wedding" asp-route-id="@wedd.WeddingID">@wedd.WedderOne & @wedd.WedderTwo</a></td>
                <td>@wedd.Date.ToString("MMM d yyyy")</td>
                <td>@wedd.Guests.Count</td>
                <td>@if(wedd.UserID == UUID)
                    {
                        <form asp-action="Delete" asp-controller="Wedding" asp-route-id="@wedd.WeddingID" method="post">
                            <input type="submit" value="Delete"/>
                        </form>
                    }else {
                        <form asp-action="AddGuest" asp-controller="Wedding" asp-route-id="@wedd.WeddingID" method="post">
                            @* Yes, the linter isn't happy, but after compiling this won't be an issue *@
                            <input type="submit" value="@(isGoing ? "Going" : "Not Going")"/>
                        </form>
                    }
            </tr>
        }
    </tbody>
</table>