@model List<Dish>

<h1>Yum! Check out our tasty dishes!</h1>
<hr>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Chef</td>
            <td>Tastiness</td>
            <td>Calories</td>
        </tr>
    </thead>
    <tbody>
        @foreach(Dish dish in Model){
            <tr>
                <td>@dish.Name</td>
                <td>@dish.Cook.FirstName @dish.Cook.LastName</td>
                <td>@dish.Tastiness</td>
                <td>@dish.Calories</td>
            </tr>
        }
    </tbody>
</table>